{{#light-table table tableClassNames="table table-hover" height='85vh' columns=columns responsive=true onAfterResponsiveChange=(action 'onAfterResponsiveChange') as |t| }}

  {{t.head onColumnClick=(action 'onColumnClick') iconSortable='fa fa-sort' iconAscending='fa fa-sort-asc' iconDescending='fa fa-sort-desc' fixed=true}}

    {{#t.body canSelect=false expandOnClick=false as |body| }}
      {{#body.expanded-row as |row|}}
        {{ui-expanded-row table=table row=row}}
      {{/body.expanded-row}}

      {{#if isLoading}}
        {{#body.loader}}
          {{ui-table-loader}}
        {{/body.loader}}
      {{/if}}
    {{/t.body}}

    {{#if canLoadMore}}
      {{#t.foot fixed=true as |columns|}}
        <tr>
          <td class="align-center" colspan={{columns.length}}>
            {{ui-button class="btn-secondary btn-block" asyncTask=loadMore label="Load more"}}
          </td>
        </tr>
      {{/t.foot}}
    {{/if}}
{{/light-table}}
