<p>
  <b>Button types!</b>
  You can pass any class that bootstrap has in a button! <a href="https://getbootstrap.com/docs/4.0/components/buttons/" target="_blank">See options here</a>
</p>
{{#docs-demo as |demo|}}
  {{#demo.example name='docs-ui-button.hbs'}}
    {{ui-button class="btn-primary" label="Primary"}}
    {{ui-button class="btn-secondary" label="Secondary"}}
    {{ui-button class="btn-success" label="Success"}}
    {{ui-button class="btn-danger" label="Danger"}}
    {{ui-button class="btn-warning" label="Warning"}}
    {{ui-button class="btn-info" label="Info"}}
  {{/demo.example}}

  {{demo.snippet 'docs-ui-button.hbs'}}
{{/docs-demo}}
<p>
  <b>Block Buttons!</b>
  Let's make this button bigger!
</p>
{{#docs-demo as |demo|}}
  {{#demo.example name='docs-ui-lager-button.hbs'}}
    {{ui-button class='btn-primary btn-lg btn-block' label="Block Primary"}}
  {{/demo.example}}

  {{demo.snippet 'docs-ui-lager-button.hbs'}}
{{/docs-demo}}

<p>
  <b>The loading state!</b>
  Button with a async Task. In this case the asyncTask is declared in the controller, but could be in the parente component too.
  We use <a href="http://ember-concurrency.com/" target="_blank">ember-concurrency</a> to handle task.
</p>
{{#docs-demo as |demo|}}
  {{#demo.example name='docs-ui-task-button.hbs'}}
    {{ui-button class="btn-primary" label="Primary" asyncTask=asyncTask}}
  {{/demo.example}}

  {{demo.snippet 'docs-ui-task-button.hbs'}}
{{/docs-demo}}
